---
import Container from '../shared/Container.astro';
import ProjectCard from './ProjectCard.astro';
import Icon from '../shared/Icon.astro';
import project1Image from '../../assets/img/home-page-img-03.jpg';
import project2Image from '../../assets/img/parure.jpg';
import project3Image from '../../assets/img/saintPat.jpg';
import project4Image from '../../assets/img/coeur.jpg';
import noel1Image from '../../assets/img/noel1.jpg';

const projects = [
  {
    title: "Theme noël",
    image: noel1Image,
    alt: "Monochromatic Brutalist concrete building exterior"
  },
  {
    title: "Parure",
    image: project2Image,
    alt: "Modern minimal pavilion with vertical wooden slats"
  },
  {
    title: "Saint Patrick",
    image: project3Image,
    alt: "Ultra modern open-plan urban loft interior"
  },
  {
    title: "Boucle coeur",
    image: project4Image,
    alt: "Contemporary glass and steel house extension"
  }
];
---

<section class="py-24 md:py-32">
  <Container>
    <div class="flex flex-col md:flex-row justify-between items-end mb-16 gap-6">
      <div class="max-w-xl">
        <h2 class="text-4xl md:text-5xl font-black tracking-tighter uppercase leading-none">Exemples ...</h2>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
      {projects.map((project, index) => (
        <ProjectCard
          title={project.title}
          category={project.category}
          year={project.year}
          image={project.image}
          alt={project.alt}
          index={index}
        />
      ))}
    </div>
  </Container>
</section>